@media (prefers-color-scheme: dark) {

    @define-color dark_tint_base mix(#1d1d20, @accent_bg_color, 0.2);
    @define-color dark_tint_soft mix(#222226, @accent_bg_color, 0.2);
    @define-color dark_tint_sidebar mix(#2e2e32, @accent_bg_color, 0.2);

    /* Base */
    @define-color window_bg_color @dark_tint_soft;
    @define-color view_bg_color @dark_tint_base;

    @define-color headerbar_bg_color @dark_tint_sidebar;
    @define-color headerbar_backdrop_color @dark_tint_soft;

    @define-color popover_bg_color mix(#36363a, @accent_bg_color, 0.08);
    @define-color dialog_bg_color mix(#36363a, @accent_bg_color, 0.08);

    @define-color card_bg_color mix(rgba(255, 255, 255, 0.08), @accent_bg_color, 0.05);

    /* Sidebars */
    @define-color sidebar_bg_color @dark_tint_sidebar;
    @define-color sidebar_backdrop_color @dark_tint_soft;
    @define-color sidebar_border_color mix(rgba(0, 0, 0, 0.36), @accent_bg_color, 0.08);

    @define-color secondary_sidebar_bg_color @dark_tint_sidebar;
    @define-color secondary_sidebar_backdrop_color @dark_tint_soft;
    @define-color secondary_sidebar_border_color mix(rgba(0, 0, 0, 0.25), @accent_bg_color, 0.08);

    /* Panel */
    @define-color panel_bg_color @window_bg_color;
    @define-color panel_button_bg_color transparent;
    @define-color panel_hover_bg_color @card_bg_color;

    /* Compatibility */
    @define-color theme_bg_color @window_bg_color;
    @define-color theme_base_color @view_bg_color;
    @define-color theme_selected_bg_color @accent_bg_color;
}

toast {
    background-color: mix(#505053, @accent_bg_color, 0.05);
    /*background-color: mix(#505053, @accent_bg_color, @dark_tint_subtle);*/
    color: #ffffff;
}

toggle:checked {
    background-color: @card_bg_color;
}

.inline {
    background-color: rgba(0, 0, 0, 0);
}