@define-color accent_bg_color #1c84d4;
@define-color accent_color @accent_bg_color;

/*
 * gtk3_darker_tinted.template.css
 *
 * This file is part of ChromaLeon GNOME Shell Extension.
 * https://github.com/Fabito02/ChromaLeon
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* =========================================
 * Dark Mode
 * ========================================= */
 
@define-color window_fg_color white;
@define-color view_fg_color white;
@define-color headerbar_fg_color white;
@define-color sidebar_fg_color white;
@define-color card_fg_color white;
@define-color popover_fg_color white;
@define-color dialog_fg_color white;

@define-color window_bg_color mix(#111113, #1c84d4, 0.2);
@define-color view_bg_color mix(#0e0e10, #1c84d4, 0.2);
@define-color headerbar_bg_color mix(#171719, #1c84d4, 0.2);
@define-color headerbar_backdrop_color mix(#111113, #1c84d4, 0.2);
@define-color popover_bg_color mix(#1b1b1d, #1c84d4, 0.2);
@define-color dialog_bg_color mix(#1b1b1d, #1c84d4, 0.2);
@define-color card_bg_color mix(rgba(255, 255, 255, 0.08), #1c84d4, 0.2);
@define-color sidebar_bg_color mix(#171719, #1c84d4, 0.2);
@define-color sidebar_backdrop_color mix(#141416, #1c84d4, 0.2);
@define-color sidebar_border_color mix(rgba(0, 0, 0, 0.36), #1c84d4, 0.2);
@define-color secondary_sidebar_bg_color mix(#141416, #1c84d4, 0.2);
@define-color secondary_sidebar_backdrop_color mix(#121214, #1c84d4, 0.2);
@define-color secondary_sidebar_border_color mix(rgba(0, 0, 0, 0.25), #1c84d4, 0.2);

@define-color panel_bg_color @window_bg_color;
@define-color panel_button_bg_color transparent;
@define-color panel_hover_bg_color @card_bg_color;

@define-color theme_bg_color @window_bg_color;
@define-color theme_base_color @view_bg_color;
@define-color theme_selected_bg_color #1c84d4;

/* =========================================
 * Element Styling Rules
 * ========================================= */

toggle:checked {
    background-color: @card_bg_color;
}

.inline {
    background-color: rgba(0, 0, 0, 0);
}

decoration {
    box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.3), 0 0 0 1px shade(mix(currentColor,@window_bg_color,0.85),0.86);
}
